/* 기본 레이아웃 */
body {
  display: flex;
  /*body에서 자식요소의 배치 순서를 다르게 하고 싶을 때 flex사용하면 order속성을 사용할 수 있으므로 편리*/
  flex-flow: row wrap;
}

.app-header-container,
.app-main,
.app-footer-container {
  width: 100%;
}

/* 헤더 */
/* 공통 헤더 */
.app-header {
  background-color: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
/* 공통 로고 */
.brand {
  width: 176px;
  padding: 18px;
  margin: 0;
  font-size: 14px;
}

.brand a {
  display: block;
}

@media all and (max-width: 767px) {

  /*all 모든 디바이스를 선택하겠다. pint쓰면 프린트될 스타일을 설정.*/
  /* 모바일 헤더 */

  /* 햄버거 메뉴 */
  .is-open-menu {
    width: 50px;
    height: 50px;
    padding: 18px 16px;
    background-color: transparent;
  }

  .is-open-menu .ir {
    display: inline-block;
    width: 100%;
    height: 100%;
    background: url(./../images/button-navigation.svg) no-repeat 50% 50%;
    /* 포지션값 뒤에 슬래시를 넣고 / 40px 40px 들어가는 수치는 bg-size가됨. 벡터이미지기때문에 늘려줘도 괜찮음.*/
  }

  /* 모바일 네비게이션 */
  .app-navigation {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    /*right: 0;width를 주지 않고 left,right를 줘서 늘려버림.firefox에서 안될 떄 있음*/
    width: 100vw;
    height: 100vh;
    transform: translateX(105vw);
    background: hsla(225, 57%, 10%, 0.9);
    backdrop-filter: blur(5px);
    color: #fff;
    /*조금 더 여유있게 값을 주어 스크롤바에도 걸리지 않게 함.*/
    transition: all 0.2s;
    padding-top: 66px;
  }

  .app-navigation li {
    border-bottom: 1px solid hsla(225, 57%, 30%, 0.5);
  }
  .app-navigation li:last-child {
    border-bottom: none;
  }
  .app-navigation a {
    display: block;
    padding: 12px 22px;
    transition: all 0.4s ease;
  }

  .app-navigation a:hover,
  .app-navigation a:focus {
    background: #2e437c;
  }
  .is-close-menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #fefefe;
    font-size: 2rem;
  }
  .is--active .app-navigation {
    transform: none;
    /*transform시키지 않으므로 원래자리로 돌아옴.*/
  }
}

@media all and (min-width: 768px) {

  /* 데스크탑 헤더 */
  .app-header-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  .app-header {
    width: 768px;
  }

  .is-open-menu,
  .is-close-menu {
    display: none;
  }

  /* 데스크탑 내비게이션 */
  .app-navigation ul {
    display: flex;
    flex-flow: row nowrap;
  }
  .app-navigation li {
    margin-left: 8px;
    color: #24388d;
  }
}